

body {
  display: flex;
  flex-direction: column;
    height: 100vh 
}



 .header, .footer {
  flex: none;
} 

.header > .w3-col {
  width: 50%;
} 

.table-container {
  flex: auto;
  min-height: 0;
}





.table-container > .w3-col, .table-container .w3-container {
  height: 100%;
}

.table-container .w3-container {
  overflow-y: scroll;
}


::placeholder {
    color: #999; 
    font-size: 0.8rem;
}

